<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Watch Cards</title>


</head>
<body>
  <nav>
    <div class="logo"><img src="../assets/images/logo-removebg-preview.png" width="400px"> </div>
    <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/product">Product</a></li>
    <li><a routerLink="/contact-us">Contact Us</a></li>
    <li><a routerLink="/about-us">About Us</a></li>
    </ul>
  </nav>



  <div class="container">
        <div class="column">
            <h2>CUSTOMER SERVICE</h2>
            <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Find a boutique</a></li>
                <li><a href="#">Our services</a></li>
                <li><a href="#">Check your order</a></li>
                <li><a href="#">My account</a></li>
                <li><a href="#">Register your Breitling</a></li>
            </ul>
        </div>
        <div class="column">
            <h2>WATCHES</h2>
            <ul>
                <li><a href="#">Women's watches</a></li>
                <li><a href="#">Men's watches</a></li>
                <li><a href="#">Gold</a></li>
                <li><a href="#">Limited editions</a></li>
                <li><a href="#">Novelties</a></li>
                <li><a href="#">All collections</a></li>
            </ul>
        </div>
        <div class="column">
            <h2>ABOUT</h2>
            <ul>
                <li><a href="#">Breitling Books</a></li>
                <li><a href="#">Partnerships</a></li>
                <li><a href="#">Sustainability</a></li>
                <li><a href="#">Download catalog</a></li>
                <li><a href="#">Career</a></li>
            </ul>
        </div>
    </div>
    <div>
        <img src="../../assets/images/watchAboutUs.jpg "  width ="1880px" >
    </div>

  
  

</body>
</html>

