<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Watch Cards</title>


</head>
<body>
  <nav>
    <div class="logo"><img src="../assets/images/logo-removebg-preview.png" width="400px"> </div>
    <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/product">Product</a></li>
    <li><a routerLink="/contact-us">Contact Us</a></li>
    <li><a routerLink="/about-us">About Us</a></li>
    </ul>
  </nav>
  <br>

   <div class="container">
    <div class="product-card">
      <img src="../../assets/images/Classic AVI AVI 1953 Edition.jpg" width="400px">
      <p class="ref">Y233801A1B1X1</p>
      <h3>Classic AVI AVI 1953 Edition</h3>
      <p class="price">$ 5,900</p>
      <button class="btn"> ADD TO BAG </button>
    </div>

    <div class="product-card">
      <img src="../../assets/images/Classic AVI AVI Ref. 765 1953 Re-Edition.jpg" alt="Watch 2">
      <p class="ref">SB04451A1B1X1</p>
      <h3>Classic AVI AVI Ref. 765 1953 Re-Edition</h3>
      <p class="price">$ 12,250</p>
      <button class="btn">ADD TO BAG</button>
    </div>

    <div class="product-card">
      <img src="../../assets/images/Classic AVI AVI Ref. 765 1964 Re-Edition.jpg" alt="Watch 3">
      <p class="ref">R233801A1B1X1</p>
      <h3>Classic AVI AVI Ref. 765 1964 Re-Edition</h3>
      <p class="price">$ 20,500</p>
      <button class="btn">ADD TO BAG</button>
    </div>

    <div class="product-card">
      <img src="../../assets/images/Classic AVI Chronograph 42 Mosquito.jpg" alt="Watch 4">
      <p class="ref">A233801A1C1A1</p>
      <h3>Classic AVI Chronograph 42 Mosquito</h3>
      <p class="price">$ 6,100</p>
      <button class="btn">ADD TO BAG</button>
    </div>
  </div>

  <br>
  

  <div class="container">
    <div class="product-card">
      <img src="../../assets/images/Classic AVI Chronograph 42 P-51 Mustang.jpg" alt="Watch 1">
      <p class="ref">Y233801A1B1X1</p>
      <h3>images/Classic AVI Chronograph 42 P-51 Mustang</h3>
      <p class="price">$ 5,900</p>
      <button class="btn">ADD TO BAG</button>
    </div>

    <div class="product-card">
      <img src="../../assets/images/Classic AVI Chronograph 42 Tribute to Vought F4U Corsair.jpg" alt="Watch 2">
      <p class="ref">SB04451A1B1X1</p>
      <h3>Classic AVI Chronograph 42 Tribute to Vought F4U Corsair</h3>
      <p class="price">$ 12,250</p>
      <button class="btn">ADD TO BAG</button>
    </div>

    <div class="product-card">
      <img src="../../assets/images/Classic AVI Super AVI B04 Chronograph GMT 46 Curtiss Warhawk.jpg" alt="Watch 3">
      <p class="ref">R233801A1B1X1</p>
      <h3>Classic AVI Super AVI B04 Chronograph GMT 46 Curtiss Warhawk</h3>
      <p class="price">$ 20,500</p>
      <button class="btn">ADD TO BAG</button>
    </div>

    <div class="product-card">
      <img src="../../assets/images/Classic AVI Super AVI B04 Chronograph GMT 46 Mosquito.jpg" alt="Watch 4">
      <p class="ref">A233801A1C1A1</p>
      <h3>Classic AVI Super AVI B04 Chronograph GMT 46 Mosquito</h3>
      <p class="price">$ 6,100</p>
      <button class="btn">ADD TO BAG</button>
    </div>
  </div>

  <br>

  <div class="container">
    <div class="product-card">
      <img src="../../assets/images/Classic AVI Super AVI B04 Chronograph GMT 46 P-51 Mustang (2).jpg" alt="Watch 1">
      <p class="ref">Y233801A1B1X1</p>
      <h3>Classic AVI Super AVI B04 Chronograph GMT 46 P-51 Mustang (2)</h3>
      <p class="price">$ 5,900</p>
      <button class="btn">ADD TO BAG</button>
    </div>

    <div class="product-card">
      <img src="../../assets/images/Classic AVI Super AVI B04 Chronograph GMT 46 P-51 Mustang.jpg" alt="Watch 2">
      <p class="ref">SB04451A1B1X1</p>
      <h3>Classic AVI Super AVI B04 Chronograph GMT 46 P-51 Mustang</h3>
      <p class="price">$ 12,250</p>
      <button class="btn">ADD TO BAG</button>
    </div>

    <div class="product-card">
      <img src="../../assets/images/Classic AVI Super AVI B04 Chronograph GMT 46 Tribute to Vought F4U Corsair.jpg" alt="Watch 3">
      <p class="ref">R233801A1B1X1</p>
      <h3>Classic AVI Super AVI B04 Chronograph GMT 46 Tribute to Vought F4U Corsair</h3>
      <p class="price">$ 20,500</p>
      <button class="btn">ADD TO BAG</button>
    </div>

    <div class="product-card">
      <img src="../../assets/images/Navitimer B01 Chronograph 46.jpg" alt="Watch 4">
      <p class="ref">A233801A1C1A1</p>
      <h3>Navitimer B01 Chronograph 46</h3>
      <p class="price">$ 6,100</p>
      <button class="btn">ADD TO BAG</button>
    </div>
  </div>

</body>
</html>
