<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rolex Website</title>
 
</head>
<body>

  <!-- Navigation -->
  <nav>
    <div class="logo"><img src="../assets/images/logo-removebg-preview.png" width="400px"> </div>
    <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/product">Product</a></li>
    <li><a routerLink="/contact-us">Contact Us</a></li>
    <li><a routerLink="/about-us">About Us</a></li>
    </ul>
  </nav>


<div class="container">
    <div class="image-section">
      <img src="https://via.placeholder.com/400x400" alt="Premier B01 Chronograph">
    </div>
    <div class="details-section">
      <div>
        <div class="breadcrumbs">Home > Watches > Premier</div>
        <div class="product-title">PREMIER B01 CHRONOGRAPH 42</div>
        <div class="price">EUR 8,850</div>
        <button class="change">CHANGE</button>
      </div>
      <button class="add-to-bag">ADD TO BAG</button>
      <div class="options">
        <button>Call to Buy</button>
        <button>Book an Appointment</button>
        <button>Free Shipping</button>
        <button>Free Return</button>
        <button>Gifting Service</button>
      </div>
    </div>
  </div>

  

</body>
</html>
