<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rolex Website</title>
 
</head>
<body>

  <!-- Navigation -->
  <nav>
    <div class="logo"><img src="../assets/images/logo-removebg-preview.png" width="400px"> </div>
    <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/product">Product</a></li>
    <li><a routerLink="/contact-us">Contact Us</a></li>
    <li><a routerLink="/about-us">About Us</a></li>
    </ul>
  </nav>

  <!-- Hero Section -->
  <section class="hero">
    <div class="hero-text">
      <h1>LÈON BREITLING<br><span>1884</span></h1>
      <p>Breitling is a Swiss luxury watch brand, founded in 1884 by Léon Breitling. The word “Breitling” itself is simply the founder’s family name, which later became the brand’s identity. Over time, the name has grown to symbolize precision, aviation, adventure, and luxury craftsmanship. </p>
      <a href="#" class="btn">Discover More</a>
    </div>
    <div class="hero-img">
      <img src="../assets/images/1a1.png" alt="Rolex Watch">
    </div>
  </section>

  <!-- Footer -->
  <footer>
    <p>© 2025 Breitling | Luxury Watches</p>
  </footer>

</body>
</html>
